header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1mm dotted #888;
  margin: 1rem 0;
  width: 100%;
  max-width: 70ch;
}

nav {
  display: flex;
  column-gap: 1rem;
}
