.qr-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.qr-code-container button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.qr-code-container button:hover {
  filter: brightness(0.9);
}
