#link-stat-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  max-width: 70ch;
  width: 80%;
}

#link-stat-form label {
  width: 100%;
}

#link-stat-form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
}

#link-stat-form button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 100%;
  margin-bottom: 0.8rem;
}

#link-stat-form button[type="submit"]:hover {
  filter: brightness(0.9);
}
