#create-account-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  width: 80%;
  max-width: 70ch;
}

#create-account-form input {
  font-size: 1rem;
  padding: 0.5rem;
}

#create-account-form button[type="submit"] {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
#create-account-form button[type="submit"]:hover {
  filter: brightness(0.9);
}
