*,
*:before,
*:after {
  /* https://stackoverflow.com/questions/21621584/padding-causes-horizontal-scroll-it-increases-the-width */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

:root {
  /* https://www.realtimecolors.com/?colors=15090d-faf3f5-f294b3-d4d4d8-75c3c2&fonts=Inter-Inter */
  --text-color: #15090d;
  --background-color: #faf3f5;
  --primary-color: #f294b3;
  --secondary-color: #d4d4d8;
  --accent-color: #75c3c2;
  --error-color: #a80b0b;
  --success-color: #0e5d3c;
  --link-color: #6b1a35;

  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  filter: brightness(0.3);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    filter: brightness(0.3);
  }
  button {
    background-color: var(--primary-color);
  }
}
