.card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 8px;
  /* Airbnb #77 https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-bottom: 2mm dotted var(--primary-color);
}

.card p,
.card a {
  text-wrap: wrap;
  word-wrap: break-all;
  overflow-wrap: break-word;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: end;
}

.copy-short-url-btn {
  margin-top: 1rem;
  background-color: var(--accent-color);
}
.copy-short-url-btn:hover {
  filter: brightness(0.9);
}
