.url-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 0.4rem;
  color: white;
  background-color: #1e40af;
  /* Github #55 - https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.url-card p {
  margin: 0;
}
.url-card a {
  color: #f5f5f5;
  text-decoration: underline;
}

.url-card-title {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.card-row {
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .card-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
