.url-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 0.4rem;
  color: var(--text-color);
  background-color: var(--secondary-color);
  /* Airbnb #76 - https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-top: 3mm dotted var(--primary-color);
}

.url-card p {
  margin: 0;
}
.url-card a {
  color: var(--link-color);
  text-decoration: underline;
}

.url-card-qr-code-container {
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 8px;
}

.url-card-title {
  padding-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.card-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-all;
}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .card-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
