.url-stat-card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  max-width: 70ch;
  box-shadow: 0px 5px 10px -4px #555;
}

.url-stat-card hr {
  border-top: none;
  border-bottom: 2mm dotted var(--primary-color);
  width: 100%;
  margin-bottom: 1rem 0;
}

.url-stat-card p {
  margin: 0.4rem 0;
  word-break: break-all;
}
